.current-weather__top {

  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;

  .current-weather__city {
    margin-bottom: 10px;
  }

  .current-weather__date {
    margin-top: 0px;
  }
}
